<?xml version="1.0" encoding = "UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!-- 输出到控制台 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 控制台打印颜色参考官网 https://logback.qos.ch/manual/layouts.html#coloring -->
            <pattern>%white(%d{yyyy-MM-dd HH:mm:ss}) %white([%thread]) %highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>
        </encoder>
    </appender>

    <!-- 所有等级日志都写入 日志记录器，日期滚动记录 -->
    <appender name="sanctuary_info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 正在记录的日志文件的路径及文件名 -->
        <File>/opt/sanctuary/logs/info.log</File>
        <!-- 日志记录器的滚动策略，按日期，按大小记录 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 归档的日志文件的路径 -->
            <fileNamePattern>/opt/sanctuary/logs/info.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <!-- 追加方式记录日志 -->
        <append>true</append>
        <!-- 日志文件的格式 -->
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <!-- error 日志记录器，日期滚动记录 -->
    <appender name="sanctuary_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/opt/sanctuary/logs/error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/opt/sanctuary/logs/error.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="com.sanctuary.manager" additivity="false" level="INFO">
        <appender-ref ref="sanctuary_info"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.springframework" level="WARN"/>

    <!-- sql 打印 -->
    <logger name="com.sanctuary.manager.mapper" additivity="false" level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="sanctuary_info"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="sanctuary_error"/>
        <appender-ref ref="console"/>
    </root>

    <logger name="org.apache.http.impl.conn.PoolingHttpClientConnectionManager">
        <level value="WARN"/>
        <appender-ref ref="console"/>
    </logger>
</configuration>